
<div class="text-center mt-4">
  <h1 class="mb-5">Título da Campanha</h1>
</div>

<div class="row mt-5">
  <!-- Coluna da esquerda: Vídeo -->
  <div class="col-md-6">
    <div class="video-placeholder">
      <!-- O iframe será inserido dinamicamente aqui -->
    </div>
  </div>

  <!-- Coluna da direita: Formulário -->
  <div class="col-md-6">
    <h2 class="mb-3 smaller-text">Descrição da campanha...</h2>

    <form>
      <div class="mb-3">
        <input type="text" class="form-control" id="name" placeholder="Nome">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="whatsapp" placeholder="Whatsapp">
      </div>
      <button type="submit" class="btn btn-block w-100">ACESSAR AGORA</button>
    </form>    
  </div>
</div>

<!-- Seção de Explicação -->
<div class="row mt-5">
  <div class="col-md-6">
    <h3>Como funciona?</h3>
    <p id="how-it-works">
      Explicação sobre como funciona a campanha...
    </p>
  </div>

  <!-- Placeholder para imagem -->
  <div class="col-md-6">
    <div class="d-flex align-items-center justify-content-center" style="background-color: #E5E5E5; height: 300px;">
      <img class="how-it-works-image" src="#" alt="Imagem de como funciona" style="max-width: 100%;">
    </div>
  </div>
</div>

<script src="/js/campaign.js"></script>